@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-danger">Access denied</h1>
    <p class="text-danger">This account doesn't have access to <a href="@ReturnUrl">@ReturnUrl</a> page.</p>
</header>


@code {

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; } = "default";

}